@import "@scss-variables";

header {
  grid-column: 2/3;
  display: flex;
  flex-flow: column;
  align-items: flex-end;
}

//nav
.header-nav {
  margin-top: 40px;
  width: 100%;
}

.nav-ul {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  list-style: none;
}

.nav-item {
  text-align: center;
}

.nav-item-link {
  color: inherit;
  text-decoration: none;
  font-size: 26px;
  text-align: center;

  &:hover {
    opacity: 0.6;
  }
}

.darkmode-indicator {
  display: none;
}

.contact-nav {
  display: none;
}
